# Google Gemini API Key (Required for AI generation)
GEMINI_API_KEY=AIzaSy...

# Web Push VAPID Keys for Remote PWA Push Notifications
VAPID_PUBLIC_KEY=BF7jo87T13wZ7e2grClSEmL1-O_2tCeMLuLCkmPxWS4_Z-rA4P-AB4n2OTb-Eln3dw6sNQupDTcrbqCdDdFS_MQ
VAPID_PRIVATE_KEY=WM_LKIp5uAU_Qc6-GoZrEI-F0i1MybeXhdxPcTy54Bs
VAPID_SUBJECT=mailto:ganeshraut.contact@gmail.com
